<% include ./includes/header.ejs %>
	<div class="ui main text container segment">
		<div class="ui huge header"><%= blog.title%></div>
		<div class="ui top attached">
		<div class="item">
			<img class="ui centered rounded image" src="<%=blog.image %>">
			<div class="content">
				<span><%= blog.created.toDateString()%></span>
			</div>
			<div class="description">
				<p><%-blog.body %></p>	<!-- - is the code evealuator-->
			</div>
			<form id="delete" action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
				<button class="ui red basic button">Delete</button>
			</form>
			<a href="/blogs/<%=blog._id%>/edit" class="ui red basic button">Edit</a>
		</div>
	</div>
	</div>
<% include ./includes/footer.ejs %>
